* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }

body, html {
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 20% auto 10%;
    height: 100%;
    border: solid purple;
    grid-template-areas:
    "side nav"
    "side main"
    "side foot";
}

nav {
    border: solid red;
    grid-area: nav;
}

aside {
    border: solid blue;
    grid-area: side;
}

main {
    border: solid orange;
    grid-area: main;
}

footer {
    border: solid black;
    grid-area: foot;
}