* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
  }

body, html {
    height: 100vh;
}

.wrapper {
    display: grid;
    grid-template-columns: clamp(300px, 30%, 500px) auto;
    grid-template-rows: 20% auto 10%;
    height: 100%;
    border: solid purple;
    grid-template-areas:
    "side nav"
    "side main"
    "side foot";
}

nav {
    border: solid red;
    grid-area: nav;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "search profile"
    "welcome btns";
    padding: 20px;
}

.searchBar {
    border: solid blue;
    grid-area: search;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    gap: 20px;
}

.profileArea {
    border: solid red;
    height: 100%;
    grid-area: profile;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.welcomeArea {
    border: solid yellow;
    height: 100%;
    grid-area: welcome;
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 30px;
    align-items: center;
}

#picWelc {
    grid-row-start: 1;
    grid-row-end: 3;
}

.interactBtns {
    border: solid green;
    height: 100%;
    grid-area: btns;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.interactBtns > button {
    padding: 20px 40px;
}

aside {
    border: solid blue;
    grid-area: side;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}

img {
    width: 3rem;
}

h3 {
    font-size: 1.6rem;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 20px 20px 0px 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 20px 0px;
}

.list1, .list2 {
    display: grid;
    grid-auto-rows: 40px;
    grid-template-columns: repeat(1, minmax(300px, 500px));
    gap: 20px;
    margin-bottom: 60px;
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid red;
    margin: 0px 20px;
}

main {
    border: solid orange;
    grid-area: main;
    display: flex;
    padding: 20px;

}

.cardArea {
    border: solid black;
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
}

#titleProj {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card {
    border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 1.5rem;
    flex: 1;
}

.iconBlock {
    display: flex;
    justify-content: flex-end;
    
}

.annumArea {
    border: solid blue;
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 0fr;

}

.announcments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 20px 20px 20px;
    
}

.announContent {
    border: solid red;
    margin-top: 20px;
    flex: 1;
    padding: 10px;
}

.trending {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px;

}

.trendContent {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    flex: 1;
    border: solid orange;


}


footer {
    border: solid black;
    grid-area: foot;
}